/* footer med income total och expense total */

footer {
    display:flex;
    justify-content: space-around;
   
}


#income_total {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
}

#expense_total {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.15rem; 
}