/* Media queries för att få sidan responsive */

@media screen and (max-width: 780px) {
    h2 {
        font-size: 1.6rem;
    }
    #h1_total {
        font-size:2rem;
    }

    .entry {
        font-size: 0.9rem;
    }

    #expense_total {
        font-size: 0.9rem;
    } 
    
    #income_total {
        font-size: 0.9rem;
    }

    #edit {
        position: absolute;
        top:0;
        right:-32%;
    
    }
    
    #delete {
        position: absolute;
        top:0;
        right:-15%;
        
    }

    .background-container {
        height:65vh;
     
    }

}


@media screen and (max-width: 525px) {
    .entry {
        font-size: 0.7rem;
    }
   
    #edit {
        position: absolute;
        top:0;
        right:-10%;
    
    }
    
    #delete {
        position: absolute;
        top:0;
        right:7%;
        
    }

}


@media screen and (max-width: 430px) {
    #h1_total {
        font-size:1.5rem;
    }

    #add_select {
        width:15%;
    }

    .background-container {
        height:70vh;
     
    }

}